@model IEnumerable<OnlineShoppingWeb.ViewModels.OrderViewModel>

@using (Ajax.BeginForm("SaveChanges", "Order", new AjaxOptions { 
                                                HttpMethod = "POST",
                                                OnSuccess = "OnSuccess",
                                                OnFailure = "OnFailure"
}))
{
    <table class="table">
        <thead style="background-color:lightsalmon">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsChecked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsShipped)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsReceived)
                </th>
            </tr>
        </thead>
        <tbody style="background-color: lightblue" id="bodyContent">
            @Html.EditorForModel()
            <tr>
                <td colspan="9">
                    <input type="submit" class="btn btn-info" value="SaveChanges" />
                </td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">

    function OnSuccess(response) {
        alert(response);
    }

    function OnFailure(response) {
        alert("Whoops! That didn't go so well did it?");
    }

</script>