@model OnlineShoppingWeb.ViewModels.OrderViewModel
<tr>
<td>
    @Html.DisplayFor(modelItem => modelItem.OrderId)
    @Html.HiddenFor(modelItem => modelItem.OrderId)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.OrderNo)
    @Html.HiddenFor(modelItem => modelItem.OrderNo)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.OrderTime)
    @Html.HiddenFor(modelItem => modelItem.OrderTime)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.Total)
    @Html.HiddenFor(modelItem => modelItem.Total)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.CustomerName)
    @Html.HiddenFor(modelItem => modelItem.CustomerName)
</td>
<td>
    @Html.CheckBoxFor(modelItem => modelItem.IsChecked)
</td>
<td>
    @Html.CheckBoxFor(modelItem => modelItem.IsShipped)
</td>
<td>
    @Html.CheckBoxFor(modelItem => modelItem.IsReceived)
</td>
    <td>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View details</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Details for orderNo @Model.OrderNo (OrderId @(Model.OrderId))</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Product Id
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Product Price
                                    </th>
                                    <th>
                                        Product Quantity
                                    </th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderLines)
                                {
                                    <tr>
                                        <td>@item.ProductId</td>
                                        <td>@item.Product.Name</td>
                                        <td>$@item.Product.Price</td>
                                        <td>@item.Quantity</td>
                                        <td>$@(item.Product.Price * item.Quantity) </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </td>
</tr>