@model IEnumerable<OnlineShoppingWeb.ViewModels.ProductViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Shopping page</title>
    <link href="~/Bootstrip/bootstrip335css.css" rel="stylesheet" />
    <script src="~/Bootstrip/jquery-1.11.3.js"></script>
    <script src="~/Bootstrip/bootstrip335js.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Product", new { id = item.Id }))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.Image(@item.Url, "width:40px;height:40px","image does not exit")
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to detele record with Id = @item.Id')" style="background-color:red">
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    @{
        Html.RenderPartial("Footer", new FooterViewModel());
    }
</body>
</html>
