@model IEnumerable<OnlineShoppingWeb.ViewModels.ProductViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Bootstrip/bootstrip335css.css" rel="stylesheet" />
    <script src="~/Bootstrip/jquery-1.11.3.js"></script>
    <script src="~/Bootstrip/bootstrip335js.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
    <title>ShowProductShoppingPage</title>
</head>
<body>
    <h2>Welcome @Session["UserName"]!</h2>
    <div class="container">
        <button type="button" class="btn btn-info" onclick="">Info</button>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <th>Order Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.Image(@item.Url, "width:40px;height:40px", "image does not exit")
                        </td>
                        <td>@Html.TextBox(@item.Id.ToString())
                    </tr>
                }
            </tbody>

        </table>
    </div>
    @{
        Html.RenderPartial("Footer", new FooterViewModel());
    }
</body>
</html>
