@model IEnumerable<OnlineShoppingWeb.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "SpecialProductManage";
}

<h2>SpecialProductManage</h2>

<div class="container">
   

    <div class="row">
        <div class="col-md-5">
            <div class="jumbotron">
                <h4>Products not OnSpecial</h4>
            </div>
            <table class="table" id="normalProduct">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OnSpecial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OutOfStock)*@
                </tr>
                
                @foreach (var item in (List<ProductViewModel>)ViewBag.unSpecialProducts)
                {
                    <tr>
                        <td onclick="selectToMoveToSpecial(@item.Id)" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OnSpecial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutOfStock)
                        </td>*@
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-2">
            @*<div class="jumbotron">
            </div>*@
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <input type="submit" value=">>>" id="toSpecial" onclick="moveToSpecial()"/>
            <br>
            <br>
            <br>
            <br>
            <input type="submit" value="<<<" id="toNormal" />
        </div>
        <div class="col-md-5">
            <div class="jumbotron">
                <h4>Products OnSpecial</h4>
            </div>
            <table class="table" id="specialProduct">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OnSpecial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OutOfStock)
                    </th>
                    <th></th>*@
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td onclick="selectToMove(@item.Id)" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OnSpecial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutOfStock)
                        </td>*@
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<script>
    var selectedProductFromSpecial = [];
    var selectedProductFromNormal = [];
    function selectToMoveToSpecial(Id) {
        $("#" + Id).css("background-color", "yellow");
        selectedProductFromNormal.push(Id);
    }

    function selectToMoveToNormal(Id) {
        $("#" + Id).css("background-color", "brown");
        selectedProductFromSpecial.push(Id);
    }

    function moveToSpecial() {
        $.post('/Product/moveToSpecial', $.param({ data: selectedProductFromNormal }, true), function (data) {


        });


    }


    //var array = [1, 2, 3, 4, 5];
    //$.post('/controller/MyAction', $.param({ data: array }, true), function(data) {});
</script>