@model OnlineShoppingWeb.ViewModels.CustomerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Form</title>
    <link href="~/Bootstrip/bootstrip335css.css" rel="stylesheet" />
    <script src="~/Bootstrip/jquery-1.11.3.js"></script>
    <script src="~/Bootstrip/bootstrip335js.js"></script>
    <script src="~/Scripts/Validation.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>CustomerViewModel</legend>



                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.FirstName, new { @class="form-control", id="firstName", placeholder="Enter your first name", name="FirstName",style="background-color:lightblue"})
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Age)
                    @Html.ValidationMessageFor(model => model.Age)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNumber)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.MobileNumber)
                    @Html.ValidationMessageFor(model => model.MobileNumber)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "email", placeholder = "Enter email", name = "Email", style = "background-color:lightblue" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        </div>
</body>
</html>
