@model OnlineShoppingWeb.ViewModels.CustomerViewModel
    <div class="container">
        <h2>Please fill your Information</h2>
        <form role="form" action="~/Home/SaveCustomer" method="post" @*onsubmit=" return IsValid()"*@>

            @Html.ValidationSummary(true)


            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" name="LastName" style="background-color:lightblue" value=@Model.LastName>
                @Html.ValidationMessageFor(o => o.LastName)
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" name="FirstName" style="background-color:lightblue" value=@Model.FirstName>
                @Html.ValidationMessageFor(o => o.FirstName)
            </div>
            <div class="form-group">
                <label for="DateOfBirth">Date of birth:</label>
                <input type="text" class="form-control" id="dateOfBirth" placeholder="Select your date of birth" name="DateOfBirth" style="background-color:lightblue" value=@Model.DateOfBirth>
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
            <div class="form-group">
                <label for="userName">your UserName:</label>
                <input type="text" class="form-control" id="userName" placeholder="Enter UserName" name="UserName" style="background-color:lightblue" value=@Model.UserName>
                @Html.ValidationMessage("UserName")
            </div>
            <div class="form-group">
                <label for="pwd">UserPass:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="UserPass" style="background-color:lightblue" value=@Model.UserPass>
                @Html.ValidationMessageFor(o => o.UserPass)
            </div>
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" class="form-control" id="mobile" placeholder="Enter your mobile number" name="Mobile" style="background-color:lightblue" value=@Model.Mobile>
                @Html.ValidationMessageFor(o => o.Mobile)
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="Email" style="background-color:lightblue" value=@Model.Email>
                @Html.ValidationMessageFor(o => o.Email)
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" placeholder="Enter your address" name="Address" style="background-color:lightblue" value=@Model.Address>
                @Html.ValidationMessageFor(o => o.Address)
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-info" name="btnSubmit" value="Save">Save</button>
                <button type="button" class="btn btn-info" name="clear" value="clear" id="clearBtn" onclick="ResetForm()">clear</button>
                <button type="submit" class="btn btn-info" name="btnSubmit" value="Cancel">Cancel</button>
            </div>
            <input type="hidden" name="CustomerID" value="@Model.CustomerID" />
        </form>
    </div>
    <script>
        function ResetForm() {
            $("#lastName").val("");
            $("#firstName").val("");
            $("#age").val("");
            $("#userName").val("");
            $("#pwd").val("");
            $("#mobile").val("");
            $("#email").val("");
            $("#address").val("");
        };
    </script>
    @{
        Html.RenderPartial("Footer", new FooterViewModel());
    }
